*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    outline: 0;
    padding: 80px 0px 0px;
}

html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1em;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
}

button:hover{
    background-color:#2d2d29d5; 
    color: white;
}

.header{
    background-color: rgba(0,0,0,0.2);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: #8ca28c;
    font-family:  "Raleway", sans-serif;  
    text-decoration: none; 
}

#inizio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),
    url(../Assets/img/imgarb.jpg);
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#inizio h1{
    font-size: 3.5em;
    font-family: "Raleway", sans-serif;
    color: white;
    letter-spacing: 5px;
}

#inizio p{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 12px 50px;
}

#inizio span{
    font-size: 1.5em;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    color: #baa33e;
    padding: 12px;
}

#io{
    background-color: rgb(245, 245,245);
}

#io .img-container{
    display: none;
}


#io .container{
    text-align: center;
    padding: 80px 12px;
    justify-content: center;
}

#io .testo{
    padding: 45px 45px;
}

#io h2{
    font-family: "Raleway", sans-serif;
    font-size: 5vh;
}

#io p{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

#io span{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color:#8ca28c;
    size: 3vh;
}



#servizi {
    text-align: center;
    color: black;
    background-image: url(../Assets/img/imgpaj.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

#servizi .container{
    padding: 100px 12px;
}

#servizi h2{
    padding-top: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

#servizi .img span {
    display: none;
}

#servizi p{
    display: none;
}


#servizi .carta{
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 12px;
    font-family: 'Cairo', sans-serif;
       
}

.carta:nth-child(2){
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 12px;
    font-family: 'Cairo', sans-serif;
}

.carta:nth-child(3){
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 12px;
    font-family: 'Cairo', sans-serif;
    }

.carta:nth-child(4){
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 12px;
    font-family: 'Cairo', sans-serif;
    }
#portfolio{
    width: 100%;
}
#portfolio .container{
    height: 90vh;
    width: 100%;
    padding-top: 50px;
    background-color: rgba(0,0,0,0.2);
    color: black;
    display: flex;
}

#portfolio .container{
    
    background-color: rgb(245, 245,245);
    padding: 20px 20px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    align-items: center;
}

#portfolio h3 {
    color: rgba(255, 163, 93, 0.759) ;
}

#contattami {
    background-image: url(../Assets/img/connect.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contattami .container-img{
    margin-top: 100px
    max-width: 400px;
    padding: 15px 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
}

#contattami h3 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 5vh;
    color: rgba(255, 163, 93, 0.759);
}

#contattami p {
    color:rgba(245, 245,245, 0.7);
    text-align: center;
    
}

#contattami .container-form {
    background-color: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 15px;
}

input,textarea, label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #f3f3f3;
}

input, textarea {
    border-radius: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(255, 163, 93);
}

input[type=submit]:hover {
    background-color:#f3f3f3;
    color: black;
}

  footer {
      background-color: rgb(245, 245,245);
}

  footer p{
      font-size: 2.5vh;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      padding: 12px;
}

  footer .container { 
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

@media (min-width: 720px) {


    

      #io .container{
        display: flex;
        justify-content: center;
      }


      #io .testo {
          margin-left: 30px;
          width: 100vh;
          text-align: initial;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }


      #servizi .servizi{
        display: block;
      }

      #servizi p{
          display: block;
          font-size: 2vh;

      }

      #portfolio {
          margin: 0 auto;
          align-items: center;
          text-align: center;
      }

  }

  
  @media (min-width: 900px) {


    #inizio .container{
        display: block;
        padding: 200px 200px;
    }

    #inizio h1{
        font-size: 7em;
        font-family: "Raleway", sans-serif;
        color: white;
        letter-spacing: 5px;
    }

    #inizio p{
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    #inizio span{
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
    }
    

    #io .container{
        display: flex;
        justify-content: center;
        text-align: center;
      }

    #io .img-container {
        display: block;
        background-image: url(../Assets/img/img-yo.jpg);
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 450px;
        border-radius: 30px;
        box-shadow: 2px 2px 15px;
        align-items: center;
    }

    
    #io .testo {
        margin-left: 50px;
        width: 50%;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

